/**/node_modules/
/**/dist/
/**/.leetcode
/**/_gsdata_/

package-lock.json
*.log

/**/*.~$lock

# VS2017 Debug&Release 文件
/algorithm/**/Debug/
/cplusplus/**/Debug/

/algorithm/**/Release/
/cplusplus/**/Release/

/algorithm/**/.vs/
/cplusplus/**/.vs/